provisioning/flows.json
[{"type":"tab","id":"921a6069.6de5a","label":"www.dieurbanisten.de"},{"type":"tab","id":"794dffdc.86b2","label":"Sheet 1"},{"type":"tab","id":"469f3c5d.b960c4","label":"Sheet 2"},{"id":"48ac9660.87b598","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"9b81feb0.647e","type":"xmpp-server","server":"jabber.ctdo.de","port":"5222","nickname":"nodered"},{"id":"cb6e7c9a.34918","type":"irc-server","server":"irc.hackint.eu","nickname":"nodered"},{"id":"29faed45.d60512","type":"websocket-listener","path":"/ws/ping","wholemsg":"false"},{"id":"dc100c03.23eff","type":"websocket-listener","path":"/ws/count","wholemsg":"true"},{"id":"93f9b0c7.6c065","type":"ping","name":"Ping Urbanisten","host":"www.dieurbanisten.de","timer":"3","x":96.19999694824219,"y":34.19999694824219,"z":"921a6069.6de5a","wires":[["412e4c8b.bed1b4"]]},{"id":"412e4c8b.bed1b4","type":"function","name":"store ping time","func":"context.global.ping = msg.payload\nmsg.payload = '{ \"payload\": ' + msg.payload + ' }'\nreturn msg;","outputs":1,"x":278.2000274658203,"y":34.19999694824219,"z":"921a6069.6de5a","wires":[["307689ca.cf8976"]]},{"id":"762ad1ec.89d53","type":"http in","name":"","url":"/urbanisten","method":"get","x":119.19999694824219,"y":520.2000122070312,"z":"921a6069.6de5a","wires":[["7e1604f9.81e9fc"]]},{"id":"7e1604f9.81e9fc","type":"function","name":"get telemetry","func":"msg.payload = '{ \"ping\": ' + context.global.ping + \n\t', \"statusCode\": ' + context.global.statusCode +\n\t', \"reqTime\": ' + context.global.reqTime +\n'}'\nreturn msg;","outputs":1,"x":298.2000274658203,"y":520.2000274658203,"z":"921a6069.6de5a","wires":[["148908c.feb76f7"]]},{"id":"148908c.feb76f7","type":"http response","name":"","x":446.2000274658203,"y":520.2000274658203,"z":"921a6069.6de5a","wires":[]},{"id":"1a0b0254.e5f4fe","type":"http request","name":"HTTP urbanisten","method":"GET","url":"http://www.dieurbanisten.de","x":450.20005798339844,"y":92.20004272460938,"z":"921a6069.6de5a","wires":[["5a01ec62.a5fe14"]]},{"id":"5a01ec62.a5fe14","type":"function","name":"store result","func":"context.global.statusCode = msg.statusCode;\nmsg.payload = Date.now() - msg.start;\ncontext.global.reqTime = msg.payload;\nreturn msg;","outputs":1,"x":625.2000274658203,"y":92.20001220703125,"z":"921a6069.6de5a","wires":[["a9bec00d.56414"]]},{"id":"401a49fb.bfe5b8","type":"xmpp out","name":"","server":"9b81feb0.647e","to":"jsilence@jabber.ctdo.de","join":false,"sendObject":false,"x":629.2000274658203,"y":258.2000732421875,"z":"921a6069.6de5a","wires":[]},{"id":"f81b570e.07e4a8","type":"function","name":"rec start","func":"msg.start = msg.payload;\nreturn msg;","outputs":1,"x":283.20001220703125,"y":92.19999694824219,"z":"921a6069.6de5a","wires":[["1a0b0254.e5f4fe"]]},{"id":"b616eef4.49e91","type":"inject","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":90.19999694824219,"y":92.20002746582031,"z":"921a6069.6de5a","wires":[["f81b570e.07e4a8","7a45c414.85ba3c"]]},{"id":"7a45c414.85ba3c","type":"function","name":"Urb Alert","func":"msg.payload = \"\"\nif (context.global.statusCode != 200) \n\t{msg.payload = \"www.dieurbanisten.de hat StatusCode: \" + context.global.statusCode + \"\\n\";\n\nif (context.global.reqTime > 1100) \n\t{msg.payload = msg.payload + \"www.dieurbanisten.de ist langsam: \" + context.global.reqTime;\n\treturn msg;}}\n","outputs":1,"x":285.2000274658203,"y":153.20001220703125,"z":"921a6069.6de5a","wires":[["401a49fb.bfe5b8","39d4969b.c62b6a","a9bec00d.56414"]]},{"id":"39d4969b.c62b6a","type":"irc out","name":"","sendObject":"pay","ircserver":"cb6e7c9a.34918","channel":"#nodered","x":646.2000274658203,"y":317.2000274658203,"z":"921a6069.6de5a","wires":[]},{"id":"510b3899.aef4c8","type":"feedparse","name":"Urbanisten","url":"http://dieurbanisten.de/feed/","interval":"60","x":81.19999694824219,"y":319.2000274658203,"z":"921a6069.6de5a","wires":[["39d4969b.c62b6a"]]},{"id":"e46fc925.1b9038","type":"feedparse","name":"Chaostreff Tumblr","url":"http://tumblr.tumblr.taetaerae.ctdo.de/rss","interval":"60","x":100.19999694824219,"y":364.2000274658203,"z":"921a6069.6de5a","wires":[["39d4969b.c62b6a"]]},{"id":"6da7701a.92589","type":"feedparse","name":"Chaostreff Website","url":"http://www.chaostreff-dortmund.de/feed/","interval":"60","x":108.19999694824219,"y":407.2000274658203,"z":"921a6069.6de5a","wires":[["39d4969b.c62b6a"]]},{"id":"a9bec00d.56414","type":"debug","name":"","active":false,"console":"false","complete":"false","x":617.1999969482422,"y":171.1999969482422,"z":"921a6069.6de5a","wires":[]},{"id":"6377fd27.9c8804","type":"http request","name":"GET","method":"GET","url":"","x":262.20005798339844,"y":148.1999969482422,"z":"794dffdc.86b2","wires":[["994919a2.66b6e8"]]},{"id":"d2e95553.2d16a8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/30 9 * * *","once":false,"x":88.19999694824219,"y":46.19999694824219,"z":"794dffdc.86b2","wires":[["aae65fb3.5519a","67538c6c.98ac74"]]},{"id":"a5043dd9.5afbc","type":"switch","name":"Check pre-order","property":"payload","rules":[{"t":"cont","v":"pre-order"},{"t":"else"}],"checkall":"false","outputs":2,"x":554.2000274658203,"y":144.1999969482422,"z":"794dffdc.86b2","wires":[[],["c814af3e.37eb5"]]},{"id":"dd529e23.22ad6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":859.2000274658203,"y":343.2000274658203,"z":"794dffdc.86b2","wires":[]},{"id":"c814af3e.37eb5","type":"function","name":"Myo Alert","func":"msg.payload = \"pre-order disappeared from https://www.thalmic.com/en/myo/\";\nreturn msg;","outputs":1,"x":724.2000274658203,"y":146.1999969482422,"z":"794dffdc.86b2","wires":[["dd529e23.22ad6","8b72064d.748df8"]]},{"id":"994919a2.66b6e8","type":"html","tag":"body","ret":"text","as":"single","name":"deHTML","x":392.2000274658203,"y":147.20001220703125,"z":"794dffdc.86b2","wires":[["a5043dd9.5afbc"]]},{"id":"8b72064d.748df8","type":"xmpp out","name":"","server":"9b81feb0.647e","to":"jsilence@jabber.ctdo.de","join":false,"sendObject":false,"x":853.2000274658203,"y":50.19999694824219,"z":"794dffdc.86b2","wires":[]},{"id":"e6f397fd.190c68","type":"inject","name":"","topic":"counter","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":175.1999969482422,"y":106,"z":"469f3c5d.b960c4","wires":[["fac3c8d2.053c38"]]},{"id":"fac3c8d2.053c38","type":"function","name":"Count up/down","func":"context.count = context.count || 0;\nif (context.count <= 0) context.dir = 1;\nif (context.count >= 100) context.dir = -1;\ncontext.count += context.dir;\nmsg.payload = context.count;\nreturn msg;","outputs":1,"x":315.1999969482422,"y":106,"z":"469f3c5d.b960c4","wires":[["5947d3de.a6b82c","cad23756.352dc8"]]},{"id":"5947d3de.a6b82c","type":"websocket out","name":"","server":"dc100c03.23eff","x":492.1999969482422,"y":106,"z":"469f3c5d.b960c4","wires":[]},{"id":"cad23756.352dc8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":485.1999969482422,"y":215.1999969482422,"z":"469f3c5d.b960c4","wires":[]},{"id":"307689ca.cf8976","type":"websocket out","name":"","server":"29faed45.d60512","x":530.1999969482422,"y":30.199996948242188,"z":"921a6069.6de5a","wires":[]},{"id":"4f434311.b0bcbc","type":"http request","name":"GET","method":"GET","url":"http://hengedocks.com/products/macbook-pro-retina-horizontal-docking-station","x":250.20005798339844,"y":253.2000274658203,"z":"794dffdc.86b2","wires":[["635a2b29.9ca5d4"]]},{"id":"aae65fb3.5519a","type":"function","name":"Henge Dock","func":"msg.url = \"http://hengedocks.com/products/macbook-pro-retina-horizontal-docking-station\"\nmsg.probe = \"Coming Soon\"\nreturn msg;","outputs":1,"x":112.19999694824219,"y":252.20001220703125,"z":"794dffdc.86b2","wires":[["4f434311.b0bcbc"]]},{"id":"635a2b29.9ca5d4","type":"html","tag":"body","ret":"text","as":"single","name":"deHTML","x":376.2000274658203,"y":253.1999969482422,"z":"794dffdc.86b2","wires":[["d10ff476.2ef008"]]},{"id":"d10ff476.2ef008","type":"switch","name":"check coming soon","property":"payload","rules":[{"t":"cont","v":"Coming Soon"},{"t":"else"}],"checkall":"false","outputs":2,"x":551.2000274658203,"y":251.1999969482422,"z":"794dffdc.86b2","wires":[[],["286cd3d4.d7932c"]]},{"id":"286cd3d4.d7932c","type":"function","name":"Henge Alert","func":"msg.payload = mgs.probe + \" disappeared from \" + msg.url;\nreturn msg;","outputs":1,"x":730.2000274658203,"y":257.20001220703125,"z":"794dffdc.86b2","wires":[["dd529e23.22ad6","8b72064d.748df8"]]},{"id":"67538c6c.98ac74","type":"function","name":"Myo Preorder","func":"msg.url = \"http://www.thalmic.com/en/myo/\"\nmsg.probe = \"pre-order\"\nreturn msg;","outputs":1,"x":114.19999694824219,"y":148.1999969482422,"z":"794dffdc.86b2","wires":[["6377fd27.9c8804"]]}]